---
import Metric from "../atoms/Metric.astro";

interface Props {
  metrics: Array<{ label: string; value: string }>;
}

const { metrics } = Astro.props;
---

<div
  class="flex gap-5 mt-5 pt-4"
  style="border-top: 1px solid var(--color-border-metal);"
>
  {metrics.map((m) => <Metric label={m.label} value={m.value} />)}
</div>
